

@charset "utf-8";

html, body, div, p, ul, ol, li, dl, dt, dd, h1, h2, h3, h4, h5, h6, form, input, select, button, textarea, iframe, table, th, td {margin: 0; padding: 0; }
img { border: 0 none; vertical-align: top; }
ul,li,dl,dd,dt { list-style-type: none; }
i,em,cite { font-style: normal; }
body {  -webkit-text-size-adjust:none;  font-family:"Microsoft Yahei";}
a{ text-decoration: none; }
.clear,.cle {clear:both;}
a,area { blr:expression(this.onFocus=this.blur()) }   
a:focus { outline: none; }    

table * {
    border: 0 !important;
}



.t_logo{ position:absolute; top:8px; left:0px; width: 380px; height: 36px;}
.t_logo img{ width:169px; height:71px; border:0px;}
#ea_l{position:relative;top:-1px;left:319px;width:169px;height:71px;}



#ea_n{ width: 930px; float: left; height: 89px; overflow: hidden;}
.xn_n_7_wrap{ width:100%; height: 40px;overflow: hidden; margin-top: 31px; }
.xn_n_7_main{ width:100%; height: 40px;position: relative; }
.xn_n_7_Ul{ height: 40px;  text-align: right;}
.xn_n_7_Ul li{ display: inline-block;*display: inline;*zoom: 1; width: 110px; height: 40px; border-left: 1px solid #e3e3e3; text-align: left; padding-left: 10px; position: relative; overflow: hidden;}
.xn_n_7_Ul li a{ font-size: 14px; color:#ffffff;position: absolute;left:10px; top:-3px;}
.xn_n_7_Ul .xn_n_7_focs a{color:#000;}
.xn_n_7_Ul .xn_n_7_focs span{}
.xn_n_7_Ul li .xn_n_7_aHover {color:#000;}
.xn_n_7_slidebg{display: none !important;}
.xn_n_7_bg_n0{background: url(../images/xn_n_7_bg_n0.png) no-repeat;}    
.xn_n_7_bg_n1{background: url(../images/xn_n_7_bg_n1.png) no-repeat;}    
.xn_n_7_bg_n2{background: url(../images/xn_n_7_bg_n2.png) no-repeat;}    
.xn_n_7_bg_n3{background: url(../images/cgage1rdqgeaaai2aaafql0tu0m895.png) no-repeat;}    
.xn_n_7_bg_n4{background: url(../images/xn_n_7_bg_n4.png) no-repeat;}    
.xn_n_7_bg_n7{background: url(../images/xn_n_7_bg_n7.png) no-repeat;}    
.xn_n_7_Ul li>span{ position: absolute; top: 22px; left: 12px; display: block; height: 7px; width: 110px;}
.xn_n_7_bg_n0_1{background: url(../images/xn_n_7_bg_n01.png) no-repeat;opacity:0; filter:alpha(opacity=0);}  
.xn_n_7_bg_n1_1{background: url(../images/xn_n_7_bg_n11.png) no-repeat;opacity:0; filter:alpha(opacity=0);}  
.xn_n_7_bg_n2_1{background: url(../images/xn_n_7_bg_n21.png) no-repeat;opacity:0; filter:alpha(opacity=0);}  
  
.xn_n_7_bg_n4_1{background: url(../images/xn_n_7_bg_n41.png) no-repeat;opacity:0; filter:alpha(opacity=0);}  
.xn_n_7_bg_n7_1{background: url(../images/xn_n_7_bg_n71.png) no-repeat;opacity:0; filter:alpha(opacity=0);}
.xn_n_7_Ul .xn_n_7_focs .xn_n_7_bg_n0_1
{background: url(../images/xn_n_7_bg_n01.png)no-repeat;opacity: 1 !important; filter:alpha(opacity=100) !important;}  
.xn_n_7_Ul .xn_n_7_focs .xn_n_7_bg_n1_1
{background: url(../images/xn_n_7_bg_n11.png)no-repeat;opacity: 1 !important; filter:alpha(opacity=100) !important;}  
.xn_n_7_Ul .xn_n_7_focs .xn_n_7_bg_n2_1
{background: url(../images/xn_n_7_bg_n21.png)no-repeat;opacity: 1 !important; filter:alpha(opacity=100) !important;}  
.xn_n_7_Ul .xn_n_7_focs .xn_n_7_bg_n3_1
{background: url(../images/cgage1rdqf2akuluaaaficry5-o976.png)no-repeat;opacity: 1 !important; filter:alpha(opacity=100) !important;}  
.xn_n_7_Ul .xn_n_7_focs .xn_n_7_bg_n4_1
{background: url(../images/xn_n_7_bg_n41.png)no-repeat;opacity: 1 !important; filter:alpha(opacity=100) !important;}  
.xn_n_7_Ul .xn_n_7_focs .xn_n_7_bg_n7_1
{background: url(../images/xn_n_7_bg_n71.png)no-repeat;opacity: 1 !important;filter:alpha(opacity=100) !important;}  
.xn_n_7_aHover{opacity: 0; filter:alpha(opacity:0);}
.about_body #xn_n_7_Li_n1 .xn_n_7_bg_n1{background: url(../images/xn_n_7_bg_n11.png) no-repeat;}
.about_body #xn_n_7_Li_n1 a{color:#000;}
.honor_body #xn_n_7_Li_n1 .xn_n_7_bg_n1{background: url(../images/xn_n_7_bg_n11.png) no-repeat;}
.honor_body #xn_n_7_Li_n1 a{color:#000;}
.video_complex_body #xn_n_7_Li_n1 .xn_n_7_bg_n1{background: url(../images/xn_n_7_bg_n11.png) no-repeat;}
.video_complex_body #xn_n_7_Li_n1 a{color:#000;}
.video_body #xn_n_7_Li_n1 .xn_n_7_bg_n1{background: url(../images/xn_n_7_bg_n11.png) no-repeat;}
.video_body #xn_n_7_Li_n1 a{color:#000;}
.video_view_body #xn_n_7_Li_n1 .xn_n_7_bg_n1{background: url(../images/xn_n_7_bg_n11.png) no-repeat;}
.video_view_body #xn_n_7_Li_n1 a{color:#000;}
.news_body #xn_n_7_Li_n2 .xn_n_7_bg_n2{background: url(../images/xn_n_7_bg_n21.png) no-repeat;}
.news_body #xn_n_7_Li_n2 a{color:#000;}
.news_view_body #xn_n_7_Li_n2 .xn_n_7_bg_n2{background: url(../images/xn_n_7_bg_n21.png) no-repeat;}
.news_view_body #xn_n_7_Li_n2 a{color:#000;}
.products_body #xn_n_7_Li_n3 .xn_n_7_bg_n3{background: url(../images/cgage1rdqf2akuluaaaficry5-o976.png) no-repeat;}
.products_body #xn_n_7_Li_n3 a{color:#000;}
.prod_view_body #xn_n_7_Li_n3 .xn_n_7_bg_n3{background: url(../images/cgage1rdqf2akuluaaaficry5-o976.png) no-repeat;}
.prod_view_body #xn_n_7_Li_n3 a{color:#000;}
.case_body #xn_n_7_Li_n4 .xn_n_7_bg_n4{background: url(../images/xn_n_7_bg_n41.png) no-repeat;}
.case_body #xn_n_7_Li_n4 a{color:#000;}
.case_view_body #xn_n_7_Li_n4 .xn_n_7_bg_n4{background: url(../images/xn_n_7_bg_n41.png) no-repeat;}
.case_view_body #xn_n_7_Li_n4 a{color:#000;}
.contact_body #xn_n_7_Li_n7 .xn_n_7_bg_n7{background: url(../images/xn_n_7_bg_n71.png) no-repeat;}
.contact_body #xn_n_7_Li_n7 a{color:#000;}
.feedback_body #xn_n_7_Li_n7 .xn_n_7_bg_n7{background: url(../images/xn_n_7_bg_n71.png) no-repeat;}
.feedback_body #xn_n_7_Li_n7 a{color:#000;}



.t_ver { float: right; margin-top: 32px;display: none;}
.t_ver ul li{ float: left; width:39px; height: 39px; text-align: center; }
.t_ver ul li a{ width: 39px; height: 39px; line-height: 39px; font-size: 12px; color: #b0b0b0; display: block;}
.t_0ff a{border: 1px solid #e1e1e1;}
.t_ver ul li.t_0ff_hover a{background: #e1e1e1;color: #fff;}
.t_ver ul li.t_0ff_cur a{border: 1px solid #e1e1e1;width:37px; height:37px; line-height:37px;}


#ea_h{ border-bottom: 1px solid #e9e8e8; width: 100%; min-width: 1200px; height: 89px;background-color: #b3c245;}
.top{width: 1200px; z-index:99; position:relative; height: 89px; background: #b3c245; margin: 0px auto;}
.index_body #ea_h{border: 0px;background-color: #b3c245;} 
.t_t{position:relative; z-index:100; width:190px; height:89px; float: left;}




.about_banner{width:1200px; height:603px; overflow: hidden; margin:0 auto; margin-top: 39px;}
.about_banner_m{ width: 186px; height: 603px;  float: left;}
.about_banner_m img{width: 100%; height: 100%;}








.n_content_right_name_r{position:absolute; top:90px; left:70px; width:100%; height:46px; color:#777; font-size:14px; text-align:left;overflow:hidden;color:#555555;clear:both;display:block;}
.n_r_wz1,.n_r_wz2,.n_r_wz3,.n_r_wz4,.n_r_wz5,.n_r_wz6{}
.n_r_wz1{display:none;}
.n_content_right_name_r ul li{float:left; line-height:46px;}
.n_content_right_name_r ul li a{color:#555555;}
.n_content_right_name_r ul li img{display:none;}
.n_content_right_name_r a{color:#777}
.n_content_right_name_r span{color:#777}


.n_content_left_cnt{width:100%; height:85px;}
.n_content_left_cnt ul li ul{ display: none !important;}
.left_typeUl{ float: left;}
.left_typeUl li{ float: left; width: 23px; height:83px; text-align: center; border: 1px solid #b3b3b3; margin-right: 25px; line-height: 12px;}
.left_typeUl li a{ font-size: 12px; color: #adadad; display: block; width: 23px; height: 68px;padding-top: 15px; }
.left_typeUl li:hover{ background: #4d4d4d; border: 1px solid #4d4d4d;}
.left_typeUl li:hover a{ color: #f3f3f3;}
.left_typeUl li.left_menu1_cur{background: #4d4d4d; border: 1px solid #4d4d4d;}
.left_typeUl li.left_menu1_cur a{ color: #f3f3f3;}
.left_typeUl li.left_menu1_2{background: #4d4d4d; border: 1px solid #4d4d4d;}
.left_typeUl li.left_menu1_2 a{ color: #f3f3f3;}
.about_complex_body #left_typeLi_t100_1{background: #4d4d4d; border: 1px solid #4d4d4d;}
.about_complex_body #left_typeLi_t100_1 a{ color: #f3f3f3;}
.video_view_body #left_typeLi_n1{background: #4d4d4d; border: 1px solid #4d4d4d;}
.video_view_body #left_typeLi_n1 a{ color: #f3f3f3;}
.feedback_body .lb_zxly{background: #4d4d4d; border: 1px solid #4d4d4d;}
.feedback_body .lb_zxly a{ color: #f3f3f3;}
.contact_body #left_typeLi_t700_1 a{ color: #f3f3f3;}
.contact_body #left_typeLi_t700_1{background: #4d4d4d; border: 1px solid #4d4d4d;}


.n_content_right_name_l{ background: url(../images/n_content_right_name_l.png) right 21px no-repeat; text-align: right; }
.n_content_right_name_l1{ background: url(../images/n_content_right_name_l1.png) 0px center no-repeat; padding:0 12px 0 18px; font-size: 24px; color: #595959; height: 31px; line-height: 31px;}
.n_content_right_name_l2{ display: block; text-align: right; font-size:16px; color: #4d4d4d; font-weight: bold; line-height: 18px;}
.n_content_right_name_l2>span{ display:block; width: 20px; min-height: 80px; overflow: hidden; text-align: right; float: right; margin-right: 13px; margin-top: 6px;}
.lb_jj{ position: absolute; top: 36px; right:33px; font-size: 12px; color: #000;display: none;}
.lb_jj_1{display:block; width: 18px; min-height: 80px; overflow: hidden; text-align: center; float: right; line-height: 14px;}
.lb_jj_2{display:block; width: 18px; min-height: 80px; overflow: hidden; text-align: center; float: right; margin-right: -2px; line-height: 14px;}


.xn_c_aboutc_28_wrap{width:100%; height:auto; margin:0px auto; overflow:hidden;}
.xn_c_aboutc_28_intro{font-size: 12px; color:#555;}


.n_main{width: 100%; min-width: 1200px;  min-height: 603px; overflow:hidden; margin-top: -603px;}
.video_complex_body .n_main,.video_body .n_main,.video_view_body .n_main,.pro_body .n_main,.products_body .n_main,.prod_view_body .n_main,
.case_complex_body .n_main,.case_body .n_main,.case_view_body .n_main{ margin-top:39px;}
.n_content{width:1200px; margin:0 auto; overflow: hidden; position: relative; }


.n_content_left{width:931px; height: auto; margin-left: 269px; }


.n_content_right{width:931px; height: auto; margin-left: 269px; min-height: 105px;}


.n_content_right_name{ width:320px; height:190px; overflow: hidden; position: absolute; right: 0; top:0; }


.n_content_right_m { width:100%; margin:0 auto; line-height:24px; color:#737373; font-size:12px; position:relative; margin-top: 105px; *padding-top: 120px;}
.video_complex_body .n_content_right_m,.video_body .n_content_right_m,.prod_view_body .n_content_right_m,.video_view_body .n_content_right_m,
.case_view_body .n_content_right_m,.case_complex_body .n_content_right_m,.case_body .n_content_right_m,.pro_body .n_content_right_m,.products_body .n_content_right_m{ display: none;}




.xn_c_7_wrap{position: absolute;top: 4px;right:7px;display: block;width: 48px;height: 45px;background:url(../images/cgage1r1essacbagaaaez0gh5ik436.png) no-repeat;}
.xn_c_7_main{width: 48px;height: 45px;text-align: center;cursor: pointer;font-size: 0;}


.xn_f_10_wrap{position: relative; height:60px; width:800px;margin-top: 60px;margin-left: 28px;text-align: left;}
.xn_f_10_main{margin:0 auto; width:800px; height:60px; overflow: hidden;}
.xn_f_10_main>ul>li{float: left;height: 18px;line-height: 18px;font-weight: bold;font-size: 14px;padding-left: 11px;margin-left: 12px;border-left: 2px solid #ffffff;margin-top: 21px;}
#navtype1Li_n0+li{border-left: none;padding-left: 0;margin-left: 0;}
.xn_f_10_main>ul>li>a{color: #ffffff;}
.xn_f_10_main>ul>li>a:hover{color: #000;}
.xn_f_10_main ul li ul{width:124px; border-left:1px solid #ff0000;border-right:1px solid #ff0000;border-bottom:1px solid #ff0000; background:#830000; filter:Alpha(opacity=80);display: none !important;}
#navtype1Li_n0{display: none;}


.foot_tel{ width:780px;height: 36px;line-height: 36px;overflow: hidden;text-align: left; color:#ffffff;margin-left: 36px;font-size: 14px; }
.foot_tel_f{ position:relative; width:100%; height:100%;}
.foot_add,.foot_phone{display: inline-block;*display: inline;*zoom: 1;}
.foot_fax,.foot_zip{display: none;}
.foot_add{margin-right: 14px;}
.tt_byxf{width: 100%;height: 34px;line-height: 34px;overflow: hidden;float: left;color: #79c10a;font-size: 12px;}


.foot_copy{margin-left: 35px;height: 36px;line-height: 36px;font-size: 14px;color:#ffffff;text-align: left;}
.foot_copy_name,.foot_copy_ba,.xn_f_2_warp,.foot_copy{display: inline-block;*display: inline;*zoom: 1;}
.foot_copy_ba{margin: 0 14px;}
.foot_copy_ba a{color: #ffffff}
.foot_copy_ba a:hover{color:#000;}
.er_mm{width: 172px;height: 170px;position: absolute;top: 82px;right: 0;}
.wx_tu{width: 128px;height: 128px;overflow: hidden;}
.wx_tu img{width: 128px;height: 128px;}
.weixin{width: 100%;height: 42px;line-height: 42px;overflow: hidden;font-size: 14px;color: #fff;}


.xn_f_2_warp {vertical-align: top;margin-top: 12px;}


.xn_f_1_warp {}


.foot{width:100%; position:relative; font-size:12px; height:267px; background: url(../images/cgage1rylumaqc31aaafliodjog403.jpg) repeat-x; }
.foot_c{position:relative; width:1006px; margin:auto;overflow: hidden; height:267px;}









